[submodule "share/bats-assert"]
	path = share/bats-assert
	url = git@github.com:bats-core/bats-assert.git
[submodule "share/bats-file"]
	path = share/bats-file
	url = git@github.com:bats-core/bats-file.git
[submodule "share/bats-support"]
	path = share/bats-support
	url = git@github.com:bats-core/bats-support.git
[submodule "share/semver-tool"]
	path = share/semver-tool
	url = git@github.com:fsaintjacques/semver-tool.git
[submodule "share/bats-core"]
	path = share/bats-core
	url = git@github.com:bats-core/bats-core.git
